argon2-cffi==20.1.0
asgiref==3.2.10
astroid
autopep8
bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2020.6.20
cffi==1.14.3
colorama
Django
django-bootstrap4==2.3.1
Faker==4.14.2
isort
lazy-object-proxy==1.4.3
mccabe==0.6.1
psycopg2
pycodestyle==2.6.0
pycparser==2.20
pylint
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse
text-unidecode==1.3
toml
wincertstore==0.2
wrapt==1.11.2
django-heroku
whitenoise
gunicorn
dotenv
