{% extends 'global/base_layout.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h1>Welcome!</h1>
    <hr class="my-2">
    <p>
    Welcome to the homepage.  If you haven't already signed up for an account,
    please do so.  If you are not already logged in, please login to gain full
    access to the site.

    If you want to test the game without creating a username and password here
    are some test credentials:
    </p>
    <p>Username: userTest</p>
    <p>Password: testPassword3456</p>
{% endblock %}


