{% extends 'global/base_layout.html' %}
{% load static %}

{% block title %}Scores{% endblock %}

{% block content %}
<h1>Scores and Results Analysis</h1>
<hr class="my-2">
<p>
    Below is a representation of your total math game results.
</p>

<input type="hidden" id="correct_answer_count" name="variable" value="{{ correct_answer_count }}">
<input type="hidden" id="incorrect_answer_count" name="variable" value="{{ incorrect_answer_count }}">
<input type="hidden" id="total_questions_answered" name="variable" value="{{ total_questions_answered }}">

<div>
    <canvas id="scoresChart" width="400" height="200"></canvas>
</div>
<script src={% static 'js/scores_chart.js' %}></script>
{% endblock %}
