<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- favicon image -->
    <link rel="shortcut icon" href="{% static 'images/Math.png' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styling.css' %}">

    <!-- jQuery -->
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</head>

<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
            <a class="navbar-brand" href="/game">Game</a>
            {% if request.user.is_superuser %}
            <a class="navbar-brand" href="/admin">Admin</a>
            {% else %}
            {% endif %}
        </div>
    </nav>
    <div class='jumbotron'>
        <p id="logged_in_user">
            {{ request.user.username }} is the current user.
        </p>
        {% block content %}
        {% endblock %}

        {% if user.is_authenticated %}
        <br>
        <br>
        <form class='logout-link' action="{% url 'accounts:logout' %}" method='POST'>
            {% csrf_token %}
            <button id="logout" type='submit' class="btn btn-dark">Logout</button>
        </form>
        {% else %}
        <button type="button" class="btn btn-dark"><a id="login" href="{% url 'accounts:login' %}">Login Page</a></button>
        <button type="button" class="btn btn-dark"><a id="signup" href="{% url 'accounts:signup' %}">Signup Page</a></button>
        {% endif %}
    </div>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>
