{% extends 'base_layout.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
            <a class="navbar-brand" href="/game">Game</a>
            <a class="navbar-brand" href="/signup">Registration</a>
            <a class="navbar-brand" href="/admin">Admin</a>
        </div>
    </nav>
    <div class="jumbotron">
        <h1>Welcome.  You've reached the home page.</h1>
        <hr class="my-5">
        <p>
            Use the navbar to navigate through the site.
        </p>
    </div>
</body>
{% endblock %}
