/* In Firefox hold shift and refresh to display CSS changes!!! */

h1{
    color: black;
}

label{
    padding-right: 5px;
}

#login,
#signup,
#logout
{
    color: white;
}

#math_problem {
    color: #036daa;
    font-size: 800%;
}

#result_check {
    height: 75px;
    width: 205px;
    color: white;
}


