/* In Firefox hold shift and refresh to display CSS changes!!! */

h1{
    color: black;
}

label{
    padding-right: 5px;
}

#login,
#signup,
#logout
{
    color: white;
}

#new_problem_button {
    font-size: 150%;
}

#math_problem {
    color: #036daa;
    font-size: 800%;
}

#result_check {
    height: 75px;
    width: 205px;
    color: white;
    font-size: 150%;
}
#result_check:focus {
    box-shadow: none;
    outline: none;
}

#logged_in_user {
    text-align: right;
}

#checkbox_location {
    text-align: right;
}

#no_answer_check_button_alert {
    visibility: hidden;
    display: none;
}

#non_integer_check_button_alert {
    visibility: hidden;
    display: none;
}

