{% extends 'global/base_layout.html' %}
{% load static %}

{% block title %}Scores{% endblock %}

{% block content %}
<h1>Scores and Results Analysis</h1>
<hr class="my-2">
<p>
    Below is a representation of your math game results.
</p>
<!-- <p>
    <li>Number of correct answers: {{ correct_answer_count }}</li>
    <li>Number of incorrect answers: {{ incorrect_answer_count }}</li>
    <li>Total questions answered: {{ total_questions_answered }}</li>
</p> -->
<br>

<canvas id="myChart" width="400" height="200"></canvas>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Total Correct', 'Total Incorrect', 'Total Answered'],
            datasets: [{
                label: 'Math Results',
                data: [{{ correct_answer_count }},
                       {{ incorrect_answer_count }},
                       {{ total_questions_answered }}
                ],
                backgroundColor: [
                    'rgba(13, 222, 2, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: [
                    'rgba(6, 127, 0, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}
