{% extends 'global/base_layout.html' %}
{% load static %}

{% block title %}Game{% endblock %}

{% block content %}
<h1>Welcome to Math 101!</h1>
<hr class="my-4">

{% if splash_screen.presence == True %}
    <div class="alert alert-primary" role="alert">
        {{ splash_screen.message }}
        <p id="checkbox_location">
            <input id="splash_screen_preference_check_box" type="checkbox" value="0" /> Don't show this message again.</p>
    </div>
{% endif %}

<div class="col text-center">
    <div id="no_answer_check_button_alert" class="alert alert-warning" role="alert">
        Please enter an answer before clicking "Check"!
    </div>
    <div id="non_integer_check_button_alert" class="alert alert-warning" role="alert">
        Please enter an integer!
    </div>
    <button id="new_problem_button" type="button" class="btn btn-primary btn-lg">
        Start
    </button>
    <p id="math_problem"></p>
    <form id="input_form" onsubmit="return false" method="POST">
        {% csrf_token %}
        <input id="input" autocomplete="off" class="form-control form-control-lg" type="text" placeholder="Type your answer here">
        <input id="correct_answer" type="hidden">
    </form>
    <br>
    <button id="result_check" type="button" class="btn btn-primary btn-lg">
        Check
    </button>
    <br>
</div>
<div>
    <canvas id="gameChart" width="400" height="100"></canvas>
</div>
<script src={% static 'js/game_logic.js' %}></script>
<div>
    <div id="Correct_Answer_Count" style="visibility: hidden">Correctly Answered: 0</div>
    <div id="Incorrect_Answer_Count" style="visibility: hidden">Incorrectly Answered: 0</div>
    <div id="Total_Question_Count" style="visibility: hidden">Total Questions Completed This Session: 0</div>
</div>
{% endblock %}



