{% extends 'global/base_layout.html' %}
{% load static %}

{% block title %}Game{% endblock %}

{% block content %}
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
            <a class="navbar-brand" href="/game">Game</a>
            <a class="navbar-brand" href="/signup">Signup</a>
            <a class="navbar-brand" href="/admin">Admin</a>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Math 101!</h1>
        <p class="lead">The best math game in the universe!</p>
        <hr class="my-4">
        <p>In this game you will be
            presented a random math problem that you will need to solve. It will be a
            random choice of subtraction, addition, division, and multiplication. You
            will have 2 guesses per problem, after that, GAMEOVER! Ready to play?</p>

        <button type="button" class="btn btn-primary btn-lg">START</button>
        <button type="button" class="btn btn-secondary btn-lg">STOP</button>

        <p>{{ problemResult }}</p>

        <button type="button" class="btn btn-lg btn-primary" disabled>Yes!</button>
        <button type="button" class="btn btn-secondary btn-lg" disabled>No Thanks</button>

        <form method="get" action="#">
        <input type="submit" value="Start?" name="Next"/>
        </form>

        <form action="" method='GET'>
            <label for="your name">Type your answer here:</label>
            <input type="text" name="WOW" id="your name">
            <input type="submit" value="OK">
        </form>
    </div>
</body>
{% endblock %}

