{% extends 'global/base_layout.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Game{% endblock %}

{% block content %}
<h1>Welcome to Math 101!</h1>
<hr class="my-4">

{% if splash_screen.presence == True %}
    <div class="alert alert-primary" role="alert">
        {{ splash_screen.message }}
        <p>
            <input id="splash_screen_preference_check_box" type="checkbox" /> Don't show this message again
        </p>
    </div>
{% endif %}

<div class="col text-center">
    <button id="start" type="button" class="btn btn-primary btn-lg">
        New Problem
    </button>
    <p id="math_problem"></p>
    <form action="">
        <input id="user_input" type="text" placeholder="Type your answer here">
    </form>
    <br>
    <button id="result_check" type="button" class="btn btn-primary btn-lg"></button>
    <script src={% static 'js/game_logic.js' %}></script>
</div>

{% endblock %}



